.btn {
  background: none;
  border: 2px solid;
  border-bottom-width: 4px;
  font-family: $font-vg2;
  letter-spacing: inherit;
  text-decoration: none;
  margin: 1em;
  padding: 1em 2em;
  text-transform: inherit;
  transition: all 150ms;
}


.btn--primary {
  $color: #FDACAF;
  color: $color;
  background-color: adjust-hue($color,180);
  font-size: 2rem;    
  border-width: 10px;
  border-bottom-width: 10px;
    display: inline-block;
    
    
  
  /*&:hover {
    animation: sawtooth 0.35s infinite linear;
    background: linear-gradient(45deg, $color 0.5em, transparent 0.5em) 0 0 / 1em 1em
              , linear-gradient(-45deg, $color 0.5em, transparent 0.5em) 0 0 / 1em 1em;
    color: adjust-hue($color,180);
  }*/
    
    
  &:hover {
    animation: sawtooth 0.55s infinite linear;
    background: radial-gradient(circle, adjust-hue($color,180) 0.2em, transparent 0.25em) 0 0 / 1.25em 1.25em;
    color: adjust-hue($color,180);
    background-color: $color;
  }
    
    
    
}

@keyframes sawtooth {
  100% {
    background-position: 1.25em -1.25em;
  }
}