$main: rgba(4, 140, 168, 1); 
$secondary: rgba(22, 219, 147, 1);
$accent: rgba(211, 24, 105, 1);

$white: rgba(255, 255, 255, 1);
$dark: #444;

$puggsy-sky: #BEA2DF;

$gold: #FECE4F;

$playerColor: #363732;


// donut boy
$sky-top: #52999F;
$sky-bottom: #73d6de;

// text colors

$text-main: $main;
$text-inverse: $white;
$text-accent: $accent;
$text-secondary: $main;