//font
// import 
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');



$font-stack: 'Source Sans Pro', sans-serif;
 
$font-vg1: "D04b30";
$font-vg2: "Press Start 2P";


// font weights
$font-light: 300;
$font-normal: 400;
$font-bold: 700;
$font-black: 900;



//font mixin

@mixin font($weight) {
    font-family: $font-stack;
    font-weight: $weight;
}

html {
    font-family: $font-stack;
}