.footer-animation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  //border: 1px solid red;
}

.beach-floor {
  width: 100%;
  height: 75px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -66px;
  //border: 1px solid green;

  .donutboy-footer {
    position: absolute;
    top: -48px;
    z-index: 99;
    width: 50px;

    /*@include respond-to(small){
            width: 50px;
        }*/
  }

  .kelly-footer {
    position: absolute;
    top: -48px;
    z-index: 99;
    width: 50px;

    /*@include respond-to(small){
            width: 50px;
        }*/
  }

  .beach-top {
    background: url(../imgs/tile3.png) repeat-x left bottom;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .beach-reg {
    background: url(../imgs/tile5.png) repeat left top;
    height: 50px;
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
  }
} // end .beach-floor

.beach-shells-foreground {
  background: url(../imgs/shells_foreground.png) repeat left top;
  height: 60px;
  position: absolute;
  bottom: -120px;
  left: 5px;
  right: 0;
  width: 100%;
}

.beach-waves {
  background: url(../imgs/beach-waves.png) repeat-x left bottom;
  width: 100%;
  height: 225px;
  position: absolute;
  bottom: -350px;
}

.beach-dock {
  position: absolute;
  bottom: -220px;
  left: 35%;
  display: none;

  @include respond-to(small) {
    display: block;
  }
}

.beach-tree {
  position: absolute;
  bottom: -320px;
  left: 10%;

  @include respond-to(small) {
    left: 15%;
  }
}

.beach-castle {
  position: absolute;
  right: -25px;
  //width: 50%;
  width: 225px;
  bottom: -390px;

  @include respond-to(small) {
    width: auto;
  }
}

.beach-crab {
  position: absolute;
  bottom: -40px;
  left: 8%;
  animation: crabWalk 7s linear infinite;

  @include respond-to(small) {
    left: 30%;
  }
}

.beach-ship {
  position: absolute;
  bottom: -140px;
  left: 62%;
  display: none;

  @include respond-to(small) {
    display: block;
  }
}

.beach-gull {
  position: absolute;
  bottom: -125px;
  left: 12%;
  animation: gullFly 7s linear infinite;

  @include respond-to(small) {
    animation: gullFly 15s linear infinite;
  }
}

.beach-cloud {
  position: absolute;
  bottom: -175px;
  left: 0%; //12%;
  animation: cloudMove 35s linear infinite;
  opacity: 0.6;
}

.beach-cloud2 {
  position: absolute;
  bottom: -75px;
  left: 0%; //60%;
  animation: cloudMove 45s linear infinite;
  opacity: 0.6;
}
.beach-cloud3 {
  position: absolute;
  bottom: -75px;
  left: 0%; //60%;
  animation: cloud3Move 55s linear infinite;
  opacity: 0.6;
}

.beach-rock {
  position: absolute;
  bottom: -70px;
  left: 2%;
  display: none;

  @include respond-to(small) {
    display: block;
  }
}
.beach-shell {
  position: absolute;
  bottom: -70px;
  left: 45%;

  @include respond-to(small) {
    left: 62%;
  }
}

.db-backwards {
  transform: scaleX(-1);
}

// animations for damon & kelly
.animated-db {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.31, 0.44, 0.445, 1.65);
  animation-iteration-count: infinite;
}
.animated-kelly {
  animation-duration: 0.37s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.31, 0.44, 0.445, 1.65);
  animation-iteration-count: infinite;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.bounce {
  animation-name: bounce;
}

@keyframes crabWalk {
  0% {
    margin-left: 0px;
    transform: scaleX(1);
    animation-timing-function: steps(1, end);
  }
  10% {
    margin-left: 0px;
    transform: scaleX(-1);
  }
  50% {
    margin-left: 100px;
    transform: scaleX(-1);
    animation-timing-function: steps(1, end);
  }
  60% {
    margin-left: 100px;
    transform: scaleX(1);
  }
  100% {
    margin-left: 0px;
    transform: scaleX(1);
  }
}

@keyframes gullFly {
  0% {
    margin-left: 0px;
    transform: scaleX(-1);
    animation-timing-function: steps(1, end);
  }
  0.1% {
    margin-left: 0px;
    transform: scaleX(1);
  }
  50% {
    margin-left: /*600px*/ 40%;
    transform: scaleX(1);
    animation-timing-function: steps(1, end);
  }
  50.1% {
    margin-left: /*600px*/ 40%;
    transform: scaleX(-1);
  }
  100% {
    margin-left: 0px;
    transform: scaleX(-1);
  }
}

@keyframes cloudMove {
  0% {
    left: -20%;
  }
  100% {
    left: 100%;
  }
}

@keyframes cloud3Move {
  0% {
    left: 50%;
  }
  50% {
    left: 120%;
    animation-timing-function: steps(1, end);
  }
  50.1% {
    left: -20%;
  }
  100% {
    left: 50%;
  }
}
