.assets {
  //background: $dark;
  background: url("../imgs/tile4.png") repeat;
  color: $text-inverse;
  padding: 3em 0;
  position: relative;

  .pipe-details {
    position: absolute;
    top: 0;
    left: 0;
  }
  .pipe-details-inverse {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .col {
    z-index: 1; // to appear over pipe details
    // SETTING MIN-WIDTH:0 MAKES IT SO OVERFLOW:HIDDEN DOESNT EXPAND PAST FLEX BOX. FOUND:
    // https://stackoverflow.com/questions/12022288/how-to-keep-a-flex-item-from-overflowing-due-to-its-text
    min-width: 0;
  }

  .asset-display {
    padding: 3em 0;

    .asset-info {
      display: flex;
      align-items: center;
      justify-content: center;

      .asset-image {
        height: 150px;
        width: 150px;
        margin-right: 15px;

        @include respond-to(small) {
          width: 135px;
        }
      }

      .asset-text {
        height: 150px;
        width: 125px;
        display: flex;
        flex-direction: column;
        justify-content: left;
        @include stroke(black, 1px);
        @include respond-to(small) {
          width: 135px;
        }

        h2 {
          font-family: $font-vg2;
          font-size: 1em;
        }

        ul {
          padding-left: 0;
          list-style-position: inside;
          list-style-type: none;
          margin-bottom: 0;
          @include stroke(black, 1px);
          text-align: left;

          li {
            text-indent: -0.8em; // to combat fake li margin

            &:before {
              content: "•";
              margin-right: 0.5em;
            }
            &:first-child {
              margin-bottom: 0.75em;
            }
          }
        }
      } // end enemy-text
    } // end enemy-info
  } // end enemy-display

  /*.enemy-display {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 1em;
        align-items: center;
        justify-items: center;
        
        div {
            border: 1px solid white;
            padding: 1em;
            
            img {
                width: 100px;
            }
            
        }
        
        
    }*/

  .overflow-sidescroll {
    display: flex;
    position: relative;
    justify-content: center;

    .sidescroll {
      display: flex;
      overflow: hidden;

      background-color: $dark;
      box-shadow: inset 0px 0px 10px 0px black;
      //   transition: translate ease-in-out 150ms;

      div {
        //border: 1px solid white;
        min-width: 75px;
        height: 75px;
        padding: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        @include respond-to(small) {
          min-width: 100px;
          height: 100px;
        }

        &:hover {
          img {
            transform: scale(1.1);
          }
        }

        img {
          transition: all ease-in-out 100ms;
          max-height: 70px; // keeps images in .sidescroll from displaying too largly

          &.selected {
            @include imgHighlight($gold, 1px);
          }
        }

        .hidden-details {
          display: none;
        }
      }
    } // end sidescroll

    // btn stuff in _buttons.scss
  } // end overflow-sidescroll

  // give padding between the two smaller scrolls
  .col--1-2 {
    @include respond-to(small) {
      &:first-of-type {
        padding-right: 2em;
      }
      &:last-of-type {
        padding-left: 2em;
      }
    }
  }
} // end .assets
