.hero {
    color: $text-inverse;
    //padding-top: 8em;
    padding-bottom: 8em;
    text-align: center;
    position: relative;
    
    background:url(../imgs/hero-hills.png) repeat-x left bottom;
    
    @include respond-to(small) {
        text-align: left;
        padding-bottom: 0;
        height: 80vmin;
        min-height: 800px;
    }
    
}

.hero-text {
    @include respond-to(small) {
        margin-top: 10vmax;
    }
}