.main-nav {
    background: $accent;
    position: absolute;
    top: 0;
    left: 100%;
    right: 0;
    
    overflow: hidden;
    
    transition: all ease-in-out 250ms;
    
    @include respond-to(small){
        position: relative;
        flex: auto;
        background: none;
        margin-top: 1em;
        margin-left: 2em;
        left: 0;
    }
    
    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100vh;
        
        @include respond-to(small){
            flex-direction: row;
            height: auto;
        }
    }
    
    
    li {
        //border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        flex: 1 1 auto;
        display: flex;
        
        a {
            color: $text-inverse;
            text-decoration: none;
            //background-color: lightblue;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-basis: 100%;
            @include respond-to(small) {
                justify-content: flex-end;
            }
            
            &:hover{
                background: rgba(0, 0, 0, .10);
                @include respond-to(small) {
                    background:none;
                    color: darken($text-inverse, 15%);
                }
            }
        }
        
        
    }
    
    &.is-open {
        left: 0;
    }
        
}

// Hamburger Menu

.nav-toggle {
    display: block;
    padding: 1em;
    position: absolute;
    right: 1em;
    top: 1em;
    cursor: pointer;
    
    @include respond-to(small) {
        display:none;
    }
}


.hamburger, .hamburger::before, .hamburger::after {
    content: '';
    display: block;
    width: 2em;
    height: 3px;
    background: $white;
    transition: all ease-in-out 250ms;
}

.hamburger::before {
    transform: translateY(-6px);
}
.hamburger::after {
    transform: translateY(3px);
}

// hamburger .is-open (rotate to x)
.hamburger.is-open {
    transform: rotate(45deg);
    
    &::after {
        transform: rotate(-90deg) translateX(3px);
    }
    
    &::before {
        opacity: 0;
    }
    
}
